<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glebpopov.newengland.winetrails"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps"></uses-library>

        <activity
            android:label="@string/app_name"
            android:name="com.glebpopov.newengland.winetrails.HomeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.glebpopov.newengland.winetrails.VineyardsListActivity" >
        </activity>
        <activity android:name="com.glebpopov.newengland.winetrails.VineyardDetailsActivity" >
        </activity>
        <activity android:name="com.glebpopov.newengland.winetrails.feeds.FacebookFeedActivity" >
        </activity>
        <activity android:name="com.glebpopov.newengland.winetrails.feeds.TwitterFeedActivity" >
        </activity>
        <activity android:name="com.glebpopov.newengland.winetrails.VineyardNotesActivity" >
        </activity>
        <activity android:name="com.glebpopov.newengland.winetrails.VineyardsItineraryActivity" >
        </activity>
        <activity android:name="com.glebpopov.newengland.winetrails.VineyardsItineraryMapActivity" >
        </activity>
    </application>

</manifest>